

<ion-content padding class="test3">
<ion-header>
  <button ion-button (click)="close()">X</button>
</ion-header>
<ion-slides auto-play='true' does-continue='true' slide-intervel='30000'>
    <ion-slide *ngFor="let img of allImages">
      <img class="custom-class" src="{{img}}"/>
    </ion-slide>
  </ion-slides>

  <!-- <img class="custom-class" src="{{img}}"/> -->
</ion-content>
