page-host-popup {
    .test3{
        position: absolute;
        overflow: hidden;
        border-radius: 2px;
        width: 320px;
        height: 650px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0,0,0,.4);
        background-color: #fafafa;
        border-radius: 25px;
    }
}
