<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>ZimmerMap</strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
  <agm-map [latitude]="pointer_array[0].lat" [longitude]="pointer_array[0].lng" [zoom]="10" [zoomControl]="false" [styles]="agmStyles" [streetViewControl]="false">
    <agm-marker class="my-icon" *ngFor="let pointer of pointer_array" 
    [latitude]="pointer.lat"
     [longitude]="pointer.lng"
     iconUrl="assets/img/zimmer.png">
        <agm-info-window class="sa" >
            <ion-item tappable  text-center>

            
                  <!-- <img src="{{getProfileImage(pointer.lat)}}" class="usermap" /> -->
               
                
               
                    <button ion-button (click)="openhost()">CHECK ZIMMER</button>
                 
               
              
            </ion-item>
          </agm-info-window>            
    </agm-marker>
  </agm-map>

</ion-content>
