page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
  agm-map {
    height: 100%;
    width: 100%;
  }

 .scroll-content {
    padding: 0 !important;
}

.usermap {
    width: 30%;
border-radius: 50%;
display: block;
margin-left: auto;
margin-right: auto;
}

.sa {
    max-width: 150px !important;
}
}
