<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Local Weather</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">
  <div id='map' style='width: 100%; height: 100%;'></div>
</ion-content>
